---
layout: archive
---
<p>Are you looking for a modified version of Moonrider that we are working on? <a href="vr-exercise/">This version</a> has no leader board or walls and the default playlists are switched to a few from <a href="https://beatsaver.com/profile/106561#playlists">effariwhy on beatsaver</a>.</p>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
